<div style="position: fixed; bottom: 1rem; right: 1rem; z-index: 50;">
  <select id="themeLangSelect"
    style="padding: 0.5rem; border: 1px solid #ccc; border-radius: 0.25rem; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); font-size: 0.875rem; background-color: white; color: #1a202c;">
    <option value="dark-en">Dark EN</option>
    <option value="light-en">Light EN</option>
    <option value="dark-id">Dark ID</option>
    <option value="light-id">Light ID</option>
  </select>
</div>

<script>
  /* Funtion for getting the current year in the footer */
  (function () {
    if (document.getElementById("get-current-year")) {
      document.getElementById(
        "get-current-year"
      ).innerHTML = new Date().getFullYear();
    }
  })();

  /* Function for opning navbar on mobile */
  function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
    /* Function for dropdowns */
    function openDropdown(event, dropdownID) {
      let element = event.target;
      while (element.nodeName !== "A") {
        element = element.parentNode;
      }
      document.getElementById(dropdownID).classList.toggle("hidden");
      document.getElementById(dropdownID).classList.toggle("block");
    }

</script>
</body>

</html>

