<script>
  /* Funtion for getting the current year in the footer */
  (function () {
    if (document.getElementById("get-current-year")) {
      document.getElementById(
        "get-current-year"
      ).innerHTML = new Date().getFullYear();
    }
  })();

  /* Function for opning navbar on mobile */
  function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
    /* Function for dropdowns */
    function openDropdown(event, dropdownID) {
      let element = event.target;
      while (element.nodeName !== "A") {
        element = element.parentNode;
      }
      document.getElementById(dropdownID).classList.toggle("hidden");
      document.getElementById(dropdownID).classList.toggle("block");
    }

</script>
</body>

<!-- Sticky Select Box -->
<div class="fixed bottom-4 right-4 z-50">
  <select id="themeLangSelect"
    class="p-2 border rounded shadow text-sm bg-white dark:bg-gray-800 text-gray-900 dark:text-white">
    <option value="dark-en">Dark EN</option>
    <option value="light-en">Light EN</option>
    <option value="dark-id">Dark ID</option>
    <option value="light-id">Light ID</option>
  </select>
</div>

</html>

